extends layout
block content
    h1= title
    - let racecarid = toShow._id
    - let driver  = toShow.driver 
    - let ranking  = toShow.ranking 
    div
      div.row
        div(class='racecarAttr mr-3') Racecar ID is:
        div #{racecarid}
      div.row
        div(class='racecarAttr mr-3') Racecar Driver is:
        div #{driver}   
      div.row
        div(class='racecarAttr mr-3') Racecar Ranking is:
        div #{ranking}
